</DOCTYPE html>
<html>
    <head>
        <title>Register page</title>
            <script src = "/javascript/my-js.js"></script>
    </head>
    <body>
        
        <form action="/register", method = "POST" onsubmit="return mySubmit()">
            <p>Username : <input type="text" name="name" required> </p>
            <p>Password : <input type="password" name="pwd" required> </p>
            <p>Password Confirm: <input type="password" name="pwdconf" required> </p>
            <input type="submit" value = "Register">  
        </form>

          </div>
        </div>
      </div>

    </body>
</html>
