</DOCTYPE html>
<html>
    <head>
        <title>Welcome page</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="css/index.css"/>
    </head>
    <body>
        <div class="container login-container" >
            <div class="row"  style = "height: 100%;">
                <div class="container userlist-form"></div>
                <div class="container chat-form">
                    <h3>Welcome, <%= username %></h3>   
                <div id="chatLog" style="size:100%"></div>
                    <form id="myForm">
                        <input id="msgForm" type="text" value="" placeholder="메시지를 입력해주세요..">
                        <button style= "width: 60px; height: 35px;font-size:18px;background:gold;" type="submit">전송</button>             
                    </form>
                </div>
            </div>
        </div>
                 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="javascript/chat.js"></script>
        <script type="text/javascript">
            username = '<%= username %>';
        </script>
    </body>
</html>
