body {
    font-family: 'Montserrat', sans-serif;
    transition: 3s;
  }
  
  .login-container {
    margin-top: 10%;
    border: 1px solid #CCD1D1;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* max-width: 50%; */
    width: 700px;
    height: 600px;
    margin-top: 50px;
  }

  .ads {
    background-color: #A569BD;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
    padding: 10px;
    text-align: center;
    height: 600px;
    
  }
  
  .ads h1 {
    width: 30px;
    height: 500px;
    margin-top: 20%;
  }

  .userlist-form{
    width: 100px;
    height: 600px;
    background-color: #A569BD;
    margin-left: 0px; 
  }
  .chat-form{
    padding-left: 150px; 
    overflow: auto;
    margin-top: -35em;
    margin-left: -2em;

  }
  #fl {
    font-weight: 600;
  }
  
  #sl {
    font-weight: 100 !important;
  }
  
  .profile-img {
    text-align: center;
  }
  
  .profile-img img {
    border-radius: 50%;
    /* animation: mymove 2s infinite; */
  }
  
  @keyframes mymove {
    from {border: 1px solid #F2F3F4;}
    to {border: 8px solid #F2F3F4;}
  }
  
  .login-form {
    padding: 15px;
  }
  
  .login-form h3 {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .form-control {
    font-size: 14px;
  }
  
  .forget-password a {
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
  }


  #chatLog{
    word-break: break-all;
    overflow: hidden;
  }
  #myForm{
    position: absolute;
    overflow-y: scroll;
  }
  