body {
    font-family: 'Montserrat', sans-serif;
    transition: 3s;
  }
  
  .login-container {
    margin-top: 10%;
    border: 1px solid #CCD1D1;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* max-width: 50%; */
    width: 700px;
    height: 600px;
    margin-top: 50px;
  }

  .ads {
    background-color: #A569BD;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
    padding: 10px;
    text-align: center;
    height: 600px;
    padding-top: 66.666%; /* 500px÷750px×100=66.666...% */
    background: url("https://raw.githubusercontent.com/zzangjames/chatting_web_app/master/views/logo.jpg") no-repeat center;
    background-size: contain;
  }
  
  .ads h1 {
    width: 30px;
    height: 500px;
    margin-top: -450px;

  }

  .userlist-form{
    width: 100px;
    height: 600px;
    background-color: #A569BD;
    margin-left: 0px; 
  }
  .chat-form{
    padding-left: 150px; 
    margin-top: -35em;
    margin-left: -2em;
    
  }
  #fl {
    font-size:  120px;
    white-space: nowrap;
    color: black;
  }
  
  #sl {
    font-size:  70px;
    white-space: nowrap;
    color: black;
  }
  
  .profile-img {
    text-align: center;
  }
  
  .profile-img img {
    border-radius: 50%;
    /* animation: mymove 2s infinite; */
  }
  
  @keyframes mymove {
    from {border: 1px solid #F2F3F4;}
    to {border: 8px solid #F2F3F4;}
  }
  
  .login-form {
    padding: 15px;
  }
  
  .login-form h3 {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .form-control {
    font-size: 14px;
  }
  
  .forget-password a {
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
  }


  #chatLog{
    word-break: break-all;
    width: 580px;
    height: 450px;
    overflow-y: auto;
    /*font-size: 12px;  
    margin: auto;
    margin-left: 230px; 
    margin-right: 25px;  
    background-color: lemonchiffon;
    border-radius: 5px; 
    margin-top: 10px; 
    border: 2px solid gray;
    text-align: left; */
  }
  #other{
    word-break: break-all;
    overflow: hidden;

    /*font-size: 12px;
    margin: auto;
    margin-left: 25px; 
    margin-right: 230px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid gray;
    text-align: left;*/

  }

  #connect {
    margin: auto;
    background-color: aquamarine;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px; 
    border: 2px solid gray;
  }

/* 접속 종료 알림 */
  #disconnect {
    margin: auto;
    background-color: indianred;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px; 
    border: 2px solid gray;
  }

  #myForm{
    position: fixed;
    padding-bottom:  -55em;
    right:  200px;
    top: 600px;
  }
  